.textLayer {
  position: absolute;
  text-align: initial;
  inset: 0;
  line-height: 1;
  transform-origin: 0 0;
  z-index: 2;
  pointer-events: none;
}

.textLayer span {
  position: absolute;
  white-space: pre;
  transform-origin: 0% 0%;
}

.textLayer .highlight {
  background-color: yellow;
}

.textLayer .highlight.selected {
  background-color: orange;
}

.textLayer ::selection {
  background: #3390ff;
  color: #fff;
}
